<!DOCTYPE html>
<html>

<body style="width: 100%;">

  <table width="100%" cellpadding="0" cellspacing="0" style="border: 0px;align-items: center;padding-bottom: 100px;">
    <tr>
      <td style="align-items: center;">

        <table cellpadding="0" cellspacing="0" style="align-items: center;border: 0px; width: 100%;">
          <tr>
            <td>
              <div style="width: 100%;border-collapse:collapse; padding:0; margin:0px;">

                <div style="display: flex; margin: 0px auto;width: 500px;">
                  <img
                    src="https://images.mirror-media.xyz/publication-images/2fIj4SUK6jlw86-Ql0Dl3.png?height=600&width=1200"
                    width="100%" height="250px" />
                </div>

                <div style="display: flex; margin: 0px auto;width: 500px;">
                  <div style="font-weight: 700;text-align: center;width: 100%;">
                    <h1><strong>Join the Zeta Odyssey - Become an Early Builder!</strong></h1>
                  </div>
                </div>

                <div style="display: flex; margin: 0px auto;width: 500px;">
                  <div style="font-weight: 700;text-align: center;width: 100%;">
                    <h2>Let’s embark on the Zeta Odyssey and mint your very own "Early Builder" NFT—a commemoration of
                      your journey with ZetaChain.</h2>
                    <p><br></p>
                  </div>
                </div>

                <div style="display: flex; margin: 0px auto;width: 500px;">

                  <div style="width: 100%;text-align: center;">
                    <a href="https://mint.nftfeed.guru/" target="_blank"
                      style="background: #ee3824;border: 1px solid #ee3824;font-size: 16px;padding: 6px 15px;border-radius: 8px;color: #fff;text-decoration-line: none;">
                      Mint Here
                    </a>
                  </div>

                </div>

              </div>
            </td>
          </tr>
        </table>

      </td>
    </tr>
  </table>

</body>

</html>